.current-player {
  color: red;
}

.roll-box {
  margin-bottom: 5px;
}

.hold-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hold-button:hover {
  background-color: #45a049;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 1%;
  vertical-align: top;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#playerOneScores {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#playerTwoScores {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}