
.current-player {
  color: red;
}

.column-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.current-player h2 {
  color: red;
}

.roll-box {
  margin-bottom: 5px;
}

.hold-button {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.current-player .hold-button {
  background-color: red;
  color: white;
}